/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display:block;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width:640px) {
    a.active{
        background-color: #fb70e2;
        color: white
    }
}
